.toastError {
  & > div:first-child {
    color: rgb(131, 44, 44);
    background-color: rgb(229, 145, 145);
  }
  & > div:last-child {
    background-color: rgb(228, 213, 213);
  }
}

.toastSuccess {
  & > div:first-child {
    color: rgb(71, 133, 45);
    background-color: rgb(181, 233, 158);
  }
  & > div:last-child {
    background-color: rgb(231, 243, 225);
  }
}
