.divider {
  border-left: 1px dashed #333333;
}

.displayCustom {
  font-size: 1.6rem;
  font-weight: 300;
}

.reviewBack {
  background: linear-gradient(120deg, white, #dedede63);
}

.review {
  &Item {
    &Email {
      font-size: 0.8rem;
    }
  }
}